/**************\
    Header
\**************/
/**************\
    Colors
\**************/
/**************\
   Spacing
\**************/
@font-face {
  font-family: "Raleway Bold";
  src: url(../../fonts/Raleway/Raleway-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Raleway Regular";
  src: url(../../fonts/Raleway/Raleway-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../../fonts/Open_Sans/OpenSans-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../../fonts/Open_Sans/OpenSans-Regular.woff2) format(woff2);
}
/**************\
    Global
\**************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80.0625rem;
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/**************\
    Header
\**************/
/**************\
    Btn
\**************/
.btn {
  display: inline-block;
  font-family: "Raleway Bold";
  font-size: 1rem;
  line-height: 120%;
  color: #ffffff;
  padding: 18.5px 95.5px;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
}

/**************\
    Header
\**************/
/**************\
    List
\**************/
.list {
  display: flex;
  column-gap: 56px;
}
.list__link {
  font-family: "Raleway Regular";
  font-size: 1rem;
  line-height: 120%;
  color: #ffffff;
}
.list__link:hover {
  font-family: "Raleway Bold";
  font-size: 1rem;
  line-height: 120%;
}

/**************\
    Header
\**************/
/**************\
    Content
\**************/
.content {
  text-align: center;
}
.content__heading {
  font-family: "Raleway Bold";
  font-size: 2.5rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 40px;
}

/**************\
    Header
\**************/
/**************\
    Description
\**************/
.description {
  max-width: 36.8125rem;
  margin-inline: auto;
}
.description__paragraph {
  font-family: "Open Sans Regular";
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 32px;
}

/**************\
    Header
\**************/
/**************\
    Grid
\**************/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
  column-gap: 160px;
  row-gap: 80px;
}
.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.grid__img {
  margin-bottom: 28px;
}
.grid__heading {
  font-family: "Raleway Bold";
  font-size: 1.25rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 8px;
}
.grid__text {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}

.header {
  background-color: #1c2431;
  padding: 80px 0 64px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**************\
    Hero
\**************/
.hero {
  background-color: #1c2431;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 146px;
}
.hero::after {
  content: url(../images/bg-curvy-desktop.svg);
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
}
.hero__inner {
  max-width: 45.875rem;
}
.hero__img {
  margin-bottom: 56px;
}

/**************\
    Feature
\**************/
.feature {
  background-color: #181f2a;
  padding-bottom: 146px;
}
.feature__inner {
  max-width: 56.6875rem;
  margin-inline: auto;
}

/**************\
    Testemonial;
\**************/
.testemonial {
  background-color: #181f2a;
  padding-bottom: 120px;
}
.testemonial__inner {
  max-width: 74.25rem;
  margin-inline: auto;
}
.testemonial__content {
  display: flex;
  align-items: center;
  column-gap: 56px;
}
.testemonial__heading {
  font-family: "Raleway Bold";
  font-size: 2.5rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 32px;
}
.testemonial__paragraphs {
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;
}
.testemonial__cta {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
  text-decoration: underline;
  color: #65e2d9;
}

/**************\
    Testemonials;
\**************/
.testemonials__inner {
  background-color: #202a3c;
}

/*# sourceMappingURL=style.css.map */
