/**************\
    Header
\**************/
/**************\
    Colors
\**************/
/**************\
   Spacing
\**************/
@font-face {
  font-family: "Raleway Bold";
  src: url(../../fonts/Raleway/Raleway-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Raleway Regular";
  src: url(../../fonts/Raleway/Raleway-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../../fonts/Open_Sans/OpenSans-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../../fonts/Open_Sans/OpenSans-Regular.woff2) format(woff2);
}
/**************\
    Global
\**************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80.0625rem;
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/**************\
    Header
\**************/
/**************\
    Btn
\**************/
.btn {
  display: inline-block;
  font-family: "Raleway Bold";
  font-size: 1rem;
  line-height: 120%;
  color: #ffffff;
  padding: 18.5px 95.5px;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
}
.btn--small {
  padding: 15.5px 32.5px;
}

/**************\
    Header
\**************/
/**************\
    List
\**************/
.list {
  display: flex;
  column-gap: 56px;
}
.list__link {
  font-family: "Raleway Regular";
  font-size: 1rem;
  line-height: 120%;
  color: #ffffff;
}
.list__link:hover {
  font-family: "Raleway Bold";
  font-size: 1rem;
  line-height: 120%;
}

/**************\
    Header
\**************/
/**************\
    Content
\**************/
.content {
  text-align: center;
}
.content__heading {
  font-family: "Raleway Bold";
  font-size: 2.5rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 40px;
}

/**************\
    Header
\**************/
/**************\
    Description
\**************/
.description {
  max-width: 36.8125rem;
  margin-inline: auto;
}
.description__paragraph {
  font-family: "Open Sans Regular";
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 32px;
}

/**************\
    Header
\**************/
/**************\
    Grid
\**************/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(349px, 1fr));
  column-gap: 160px;
  row-gap: 80px;
}
.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.grid__img {
  margin-bottom: 28px;
}
.grid__heading {
  font-family: "Raleway Bold";
  font-size: 1.25rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 8px;
}
.grid__text {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}

/**************\
    Header
\**************/
/**************\
   Author
\**************/
.author {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.author__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.author__name {
  font-family: "Open Sans Bold";
  font-size: 0.625rem;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.author__job {
  font-family: "Open Sans Regular";
  font-size: 0.625rem;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #ffffff;
}

/**************\
    Header
\**************/
/**************\
   Info 
\**************/
.info {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.info__location {
  max-width: 379px;
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.info__text {
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}
.info__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.info__phone, .info__email {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.info__phone p, .info__email a {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}
.info__nav {
  display: flex;
  column-gap: 80px;
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
}
.info__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.info__nav-item {
  color: #ffffff;
}
.info__sotial {
  display: flex;
  column-gap: 16px;
}

.header {
  background-color: #1c2431;
  padding: 80px 0 64px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**************\
    Hero
\**************/
.hero {
  background-color: #1c2431;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 146px;
}
.hero::after {
  content: url(../images/bg-curvy-desktop.svg);
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
}
.hero__inner {
  max-width: 45.875rem;
}
.hero__img {
  margin-bottom: 56px;
}

/**************\
    Feature
\**************/
.feature {
  background-color: #181f2a;
  padding-bottom: 146px;
}
.feature__inner {
  max-width: 56.6875rem;
  margin-inline: auto;
}

/**************\
    Testemonial;
\**************/
.testemonial {
  background-color: #181f2a;
  padding-bottom: 120px;
}
.testemonial__inner {
  max-width: 74.25rem;
  margin-inline: auto;
}
.testemonial__content {
  display: flex;
  align-items: center;
  column-gap: 56px;
}
.testemonial__heading {
  font-family: "Raleway Bold";
  font-size: 2.5rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 32px;
}
.testemonial__paragraphs {
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;
}
.testemonial__cta {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-family: "Open Sans Regular";
  font-size: 1rem;
  line-height: 150%;
  text-decoration: underline;
  color: #65e2d9;
}

/**************\
    Testemonials;
\**************/
.testemonials {
  background-color: #181f2a;
  padding-bottom: 110px;
}
.testemonials__inner {
  padding: 0 41px;
  display: flex;
  column-gap: 40px;
  position: relative;
}
.testemonials__inner::after {
  content: url(../images/bg-quotes.png);
  position: absolute;
  width: 79px;
  top: -35px;
  left: 32px;
  z-index: 1;
}
.testemonials__item {
  background-color: #202a3c;
  padding: 33.5px 25.35px;
  max-width: 360px;
  border-radius: 4px;
  z-index: 10;
}
.testemonials__text {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 24px;
}

/**************\
   Cta  
\**************/
.cta {
  background-color: #181f2a;
}
.cta__inner {
  max-width: 863px;
  padding: 49px 79.5px;
  text-align: center;
  background-color: #1c2431;
  border-radius: 9px;
}
.cta__heading {
  font-family: "Raleway Bold";
  font-size: 2.5rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 8px;
}
.cta__text {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 32px;
}
.cta__form {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.cta__input {
  font-family: "Open Sans Regular";
  font-size: 0.875rem;
  line-height: 150%;
  padding: 13.5px 230px 13.5px 32px;
  border: none;
  border-radius: 24px;
  max-width: 480px;
}

/**************\
   Footer  
\**************/
.footer {
  background-color: #0b1523;
  padding: 162px 100px 56px 100px;
}
.footer__img {
  margin-bottom: 48px;
}

/*# sourceMappingURL=style.css.map */
