/**************\
   Footer  
\**************/

@use "../abstracts" as a;
@use "../base" as b;

.footer {
  background-color: a.$col-navy-950;
  padding: 162px 100px 56px 100px;
  &__img {
    margin-bottom: 48px;
  }
}
