/**************\
    Hero
\**************/

@use "../abstracts" as a;
@use "../base" as b;

.hero {
  background-color: a.$col-navy-850;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 146px;
  &::after {
    content: url(../images/bg-curvy-desktop.svg);
    position: absolute;
    // width: 100%;
    // height: 100%;
    bottom: -50px;
    left: 0;
    z-index: -1;
  }
  &__inner {
    max-width: 45.875rem;
  }

  &__img {
    margin-bottom: a.$spacing-700;
  }
}
