/**************\
    Btn
\**************/

@use "../abstracts" as a;
@use "../base" as b;

.btn {
  display: inline-block;
  @include b.Raleway-Bold-16-120;
  color: a.$col-white;
  padding: 18.5px 95.5px;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
}
