/**************\
    Colors
\**************/

$col-navy-850: #1c2431;
$col-navy-900: #181f2a;
$col-navy-950: #0b1523;
$col-navy-800: #202a3c;
$col-neal-200: #65e2d9;
$col-nyan-500: #339ecc;
$col-ned-500: #ff4242;
$col-white: #ffffff;

/**************\
   Spacing
\**************/

$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$spacing-900: 72px;
$spacing-1000: 80px;
